@import "./animate";

.tags-grid {

  &__card {
    &_hash {
      font-size: 100px;
    }
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: #ffc000;
    text-transform: uppercase;
    word-break: break-all;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }

  &__action {
    text-align: center;
    font-size: 18px;
    width: 370px;
    margin: 0 auto;

    @media (max-width: 490px) {
      width: 90%;
    }
  }
}