.promo-box {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  overflow: hidden;

  &__item {
    display: flex;
    min-height: 500px;
    position: relative;

    @media (max-width: 1024px) {
      min-height: 400px;
    }
    @media (max-width: 980px) {
      min-height: 600px;
    }
    @media (max-width: 590px) {
      min-height: 400px;
    }
    @media (max-width: 590px) {
      min-height: 340px;
    }

    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;

      @media (max-width: 2100px) {
        order: 3;
      }
      @media (max-width: 1490px) {
        order: 2;
      }
    }
    &:nth-child(3) {
      order: 4;

      @media (max-width: 2100px) {
        order: 5;
      }
      @media (max-width: 1490px) {
        order: 3;
      }
    }
    &:nth-child(4) {
      order: 5;

      @media (max-width: 2100px) {
        order: 2;
      }
      @media (max-width: 1490px) {
        order: 5;
      }
      @media (max-width: 980px) {
        order: 4;
      }
    }
    &:nth-child(5) {
      order: 3;

      @media (max-width: 2100px) {
        order: 4;
      }
      @media (max-width: 1490px) {
        order: 4;
      }
      @media (max-width: 980px) {
        order: 5;
      }
    }
    &:nth-child(6) {
      order: 6;

      @media (min-width: 2101px) {
        display: none;
      }
      @media (max-width: 1490px) {
        display: none;
      }
    }

    &_size_one {
      width: 50%;

      @media (max-width: 2100px) {
        width: 66.666%;
      }
      @media (max-width: 1490px) {
        width: 100%;
      }
    }

    &_size_half {
      width: 25%;

      @media (max-width: 2100px) {
        width: 33.333%;
      }
      @media (max-width: 1490px) {
        width: 50%;
      }
      @media (max-width: 980px) {
        width: 100%;
      }
    }

    &_has-two-card {
      flex-direction: column;
    }
  }
}
