@import './../../assets/less/variables.less';

.main-menu {
  background-color: #FFF;

  &__home-link {
    display: block;
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('images/logo.svg');
    background-color: #000;
    background-size: 60% 60%;
    text-indent: -1000px;
  }

  &__search {
    font-size: 20px;

    @media (max-width: @mobileDeviceWidth) {
      height: 60px;
      width: 60px;
      float: left;
    }
  }

  &__social-links {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  @media (max-width: @mobileDeviceWidth) {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    &__home-link {
      float: left;
      margin: 0 0 0 1rem;
      background-color: transparent;
      background-size: 90% 90%;
    }

    &__social-links {
      width: auto;
    }
  }

  @media (max-width: 400px) {
    &__social-links {
      width: 250px;
    }
  }
  @media (max-width: 380px) {
    &__social-links {
      width: 210px;
    }
  }
  @media (max-width: 360px) {
    &__social-links {
      width: 170px;
    }
  }
}
