@import './../../assets/less/mixins';
@import './../../assets/less/variables';

.search-results {
  &__head {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    font-size: 56px;
    margin-bottom: 20px;
  }

  &__summary {
    font-size: 32px;
  }

  &__list {
    .row();
  }

  &__item {
    .col();
    .col-width(25%);
    padding-bottom: 50px;
    font-size: 17px;

    @media (max-width: 1280px) {
      .col-width(33.333%);
    }

    @media (max-width: @narrowScreenWidth) {
      .col-width(50%);
    }

    @media (max-width: @mobileDeviceWidth) {
      .col-width(100%);
    }
  }

  &__actions {
    .col();
    .col-width(100%);
  }

  &__action {
    text-align: center;
    font-size: 18px;
    width: 370px;
    margin: 0 auto;

    @media (max-width: 490px) {
      width: 90%;
    }
  }
}