.numbered-links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
  background: #FFF;
  color: #747785;
  counter-reset: counter;

  &__item {
    padding: 30/14em 0 0 50/14em;
    position: relative;
    text-decoration: none;
    display: block;

    &::before {
      content: counter(counter, decimal-leading-zero);
      counter-increment: counter;
      position: absolute;
      left: 0;
      color: #c3c4cd;
      font-size: 40/14em;
      font-family: 'BebasNeueBold', sans-serif;
      font-weight: 800;
    }
  }

  &__link,
  &__time,
  &__title,
  &__summary {
    display: block;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__title {
    color: #000;
    font-weight: bolder;
    font-size: 18/14em;
    margin-bottom: 5/14em;
  }
  &__time {
    font-size: 12/14em;
    margin-bottom: 12/10em;
  }
  &__summary {
    font-size: 1em;
    line-height: 18/14;
  }
}
