.button {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  background: none;
  cursor: pointer;
  line-height: 1;
  padding: 1em;
  max-height: 100%;
  max-width: 100%;
  background: #FFF;
  color: #000;
  border: .2em solid #000;

  &_transparent {
    background: transparent;
  }

  &_big {
    font-family: 'BebasNeueBook', sans-serif;
    width: 100%;
  }

  &_text_white {
    color: #FFF;
  }

  &_border_yellow {
    border: .2em solid #ffef26;
  }

  &_arrows_yellow {
    min-width: 125/11em;
    padding: 1em 3em 1em 1em;

    &::before {
      content: '';
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 2em;
      height: .6em;
      width: .6em;
      border-color: #ffef26;
      border-width: .2em .2em 0 0;
      border-style: solid;
    }

    &::before {
      transform: rotate(45deg);
      margin-right: -.7em;
    }

    &:focus {
      outline: 0;
    }
  }
}
