@import './../../assets/less/variables.less';

.icon-link() {
  display: block;
  height: 50px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: 33% auto;
  background-position: center center;
  text-indent: -1000px;
}

.social-links {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
  }

  &__item {
    @media (max-width: @mobileDeviceWidth) {
      display: inline-block;
    }
  }

  &__link {
    .icon-link();

    &_vk {
      background-image: url('images/vk.svg');
    }
    &_youtube {
      background-image: url('images/youtube.svg');
    }
    &_instagram {
      background-image: url('images/instagram.svg');
    }
    &_facebook {
      background-image: url('images/facebook.svg');
    }
    &_telegram {
      background-image: url('images/telegram.svg');
    }
    &_twitter {
      background-image: url('images/twitter.svg');
    }
    &_ok {
      background-image: url('images/ok.svg');
      background-size: 25% auto;
    }

    @media (max-width: @mobileDeviceWidth) {
      height: 60px;
      width: 40px;
      background-size: auto 33%;

      &_vk {
        background-image: url('images/vk_gray.svg');
      }
      &_youtube {
        background-image: url('images/youtube_gray.svg');
      }
      &_instagram {
        background-image: url('images/instagram_gray.svg');
      }
      &_facebook {
        background-image: url('images/facebook_gray.svg');
      }
      &_telegram {
        background-image: url('images/telegram_gray.svg');
      }
      &_twitter {
        background-image: url('images/twitter_gray.svg');
      }
      &_ok {
        background-image: url('images/ok_gray.svg');
      }
    }
  }
}
