@import './../../assets/less/mixins';
@import './../../assets/less/variables';

.news-view {
  &__content {
    padding: 50px 0 40px;
    background: #FFF;
  }

  &__wrapper {
    .container();
  }

  &__columns {
    .row();
    flex-wrap: nowrap;

    @media (max-width: @narrowScreenWidth) {
      flex-wrap: wrap;
    }
  }

  &__article {
    .col();
    .col-width(100%);
    font-size: 16px;
  }

  &__aside {
    .col();
    .col-width(380px);
    flex-shrink: 0;
    padding-top: 37px;

    @media (max-width: @narrowScreenWidth) {
      .col-width-auto();
      .row();
    }
  }

  &__listing-item {
    font-size: 17px;
    margin-bottom: 30px;

    @media (max-width: @narrowScreenWidth) {
      .col();
      .col-width(50%);
    }

    @media (max-width: @mobileDeviceWidth) {
      .col-width(100%);
    }
  }

  &__bottom {
    padding: 50px 0 40px;
  }

  &__carousel-item {
    .col();
    font-size: 17px;
    height: 100%;
  }
}
