@import './../../assets/less/variables';

.article {
  &__tags {
    font-size: 12/16em;
  }
  &__head {
    padding-bottom: 30px;
  }
  &__title {
    font-size: 56/16em;
  }
  &__date {
    display: block;
    color: #747785;
    font-size: 15/16em;
    margin: 10/16em 0 0;
  }
  &__video {
    margin-bottom: 18px;
  }
  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  &__caption {
    font-size: 12/16em;
    padding: 0.5em 0 1em;
  }
  &__share-buttons {
    font-size: 6/16em;
  }
  &__summary {
    font-size: 25/16em;
    font-style: italic;
    margin: 1em 0 35/25em 120/25em;

    @media (max-width: @mobileDeviceWidth) {
      margin-left: 0;
    }
  }
  &__content {
    font-size: 1em;
    margin: 35/16em 0 60/16em 120/16em;

    @media (max-width:  @mobileDeviceWidth) {
      margin-left: 0;
    }
  }
}
