.tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;

  &_article {
    line-height: 37/12em;
  }

  &__item {
    display: inline-block;
    padding-right: 5/12em;

    &_article {
      padding-right: 0;
      margin-right: 20/16em;
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffc000;
    font-weight: 700;

    &_article {
      font-weight: 400;
    }
  }
}
