.share-buttons {
  font-size: inherit;

  &__body {
    display: inline-block;
    position: relative;
    //height: 6em;
    //width: 6em;
  }

  &__show-button {
    display: block;
    position: relative;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffef26;
    background-image: url('./images/share.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    z-index: 2;
  }

  //&__dynamic-section {
  //  position: absolute;
  //  left: 6em;
  //  top: 0;
  //  width: 0; // MOVE
  //  height: 100%;
  //  overflow: hidden;
  //  white-space: nowrap;
  //  transition: width 0.3s ease-out;
  //}

  &__list {
    //position: absolute;
    //right: 0;
    //top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  &__item {
    height: 6em;
    width: 6em;
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('./images/icons.svg');
    background-size: 100*13% 100%;
    background-position-y: 0;
    text-indent: -1000px;

    &_twitter {
      background-position-x: 1 / 12 * 100%;
    }
    &_facebook {
      background-position-x: (1 / 12 * 100%) * 2;
    }
    &_odnoklassniki {
      background-position-x: (1 / 12 * 100%) * 4;
    }
    &_telegram {
      background-position-x: (1 / 12 * 100%) * 8;
    }
    &_whatsapp {
      background-position-x: (1 / 12 * 100%) * 10;
    }
    &_fbmessenger {
      background-position-x: (1 / 12 * 100%) * 11;
    }
  }
}

