.title {
  color: inherit;
  font-size: inherit;
  font-family: BebasNeueBold, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  margin: 0;

  &_slim {
    font-weight: lighter;
  }
}
