.img-caption {
  color: #b7bbcd;
  background: #FFF;

  &__list {
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding-right: 0.7em;

    &:not(:first-child) {
      &::before {
        content: '/';
        display: inline-block;
        padding-right: 0.7em;
      }
    }
  }
}
