.decorative-title {
  color: #ffef26;
  background: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'BebasNeueBold', sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: inherit;
  text-align: left;
  line-height: 1;
  outline: none;

  &::before {
    content: '';
    display: table;
    clear: both;
  }

  &__title {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    color: #ffef26;
  }

  &__description {
    float: left;
    padding-bottom: 0.3em;
    font-size: 26/56em;
    display: inline-block;
    position: relative;
    transform: translate(20%);
    line-height: 1;

    &:after {
      content: '';
      display: block;
      width: 90%;
      height: 3px;
      transform: translate(40%, 5px);
      background-color: #ffef26;
      position: absolute;
      border-radius: 3px;
    }
  }
}