.redirect-page {
  padding-top: 10vh;
  text-align: center;

  &__block {
    display: inline-block;
    font-size: 21px;
  }

  &__text {
    margin-bottom: 2em;
  }
  &__link {
    color: #747785;
    text-decoration: underline;
  }
}