@import './../../assets/less/variables.less';
@import './../../assets/less/mixins.less';

.app {
  padding-left: 60px;

  @media (max-width: @mobileDeviceWidth) {
    padding-left: 0;
  }

  &_bg_pattern {
    background-image: url('./images/pattern_2.png');
    background-repeat: repeat;
  }

  &__body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    .container();
    font-size: 10px;
    flex-grow: 0;
    height: 260px;

    @media (max-width: 860px) {
      height: 270px;
    }

    &_bg_pattern {
      color: #FFF;
    }
  }

  &__copyright {
    flex-grow: 0;
    padding: 1em;
    text-align: center;
    background: #000;
    color: #ccc;
  }

  &__main-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    z-index: 99;
    background-color: #FFF;
    box-shadow: -9px 0 20px 15px rgba(0, 0, 0, .3);

    @media (max-width: @mobileDeviceWidth) {
      position: relative;
      width: auto;
      box-shadow: none;
    }
  }
}

