@import './../../assets/less/mixins';

.user-content {
  color: #111;
  font-weight: normal;

  .code,
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  p  {
      .text-wrapper-center();
  }

  ul,
  ol,
  p {
      font-size: inherit;
      margin: 1em auto 2em;
      line-height: 1.5;
  }

  a {
    cursor: pointer;
    color: #2f80ed;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-size: 2.1em;
  }

  h3 {
    font-size: 1.95em;
  }

  h4 {
    font-size: 1.8em;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;

    & > li {
      display: block;
      position: relative;
      padding-left: 4em;
      margin-bottom: 2rem;
    }
  }

  ul {
    li::before {
      content: '';
      display: block;
      position: absolute;
      top: 0.5em;
      left: 1.5em;
      width: 0.9em;
      height: 0.9em;
      background-image: url('./images/cube_bullit.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  ol {
    counter-reset: section;

    li::before {
      counter-increment: section;
      content: counter(section, decimal-leading-zero);
      display: block;
      position: absolute;
      top: 0;
      left: 0.1em;
      width: 0.9em;
      height: 0.9em;
      font-family: 'BebasNeueBold', sans-serif;
      font-style: italic;
      font-size: 3em;
      line-height: 1;
    }
  }

  blockquote {
    display: block;
    position: relative;
    font-size: 28/16em;
    font-family: 'BebasNeueBook', sans-serif;
    line-height: (33/28);
    text-transform: uppercase;
    font-style: italic;
    margin: 0;
    padding: 1em 3em 0 0;
    max-width: calc(700px + (100% - 700px) / 2);

    &::after {
      content: '';
      height: 3em;
      width: 3em;
      background-image: url('./images/quote.svg');
      background-size: 100% auto;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 0;

      @media (max-width: 750px) {
        height: 2em;
        width: 2em;
      }
    }

    p {
      max-width: none;
      font-size: inherit;
      font-family: inherit;
      margin: 1rem auto 2rem;
      line-height: inherit;
    }

    @media (max-width: 750px) {
      padding-right: 2em;
    }

    @media (max-width: 490px) {
      padding: 2em 0 0 0;
    }
  }

  &__code {
    margin-top: 30/16em;
    margin-bottom: 30/16em;

    & > * {
      display: block;
      margin: auto;
      max-width: 100%;
    }
    & > script {
      display: none; // костыль для скрытия сторонних скриптов, которые становятся видимыми из-за display: block
    }
  }

  &__img-container {
    margin: 0 0 1em;
    padding: 0;
    overflow: hidden;
    display: block;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &__caption {
    font-size: 12/16em;
    display: block;
    color: #b7bbcd
  }
}