.error-page {
  padding: 150px 20px;

  @media (max-width: 860px) {
    padding-top: 80px;
  }

  &__head {
    font-size: 150px;
    text-align: center;

    @media (max-width: 860px) {
      font-size: 100px;
      margin-bottom: 50px;
    }
  }

  &__text {
    line-height: 1.4;
    font-size: 21px;
    color: #FFF;
    max-width: 600px;
    margin: 0 auto 3em;
    text-align: center;

    @media (max-width: 860px) {
      font-size: 18px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
  }

  &__button {
    text-align: center;
  }
}