@import './../../assets/less/mixins';

.card {
  font-size: inherit;
  background: #FFF;

  &_max_height {
    height: 100%;
  }
  &_bg_gray {
    background-color: #f1f5f8;
  }
  &_colored {
    background-color: #274db1;
  }

  &__grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
  }

  &__cover {
    flex-grow: 0;
    .cover();
  }

  &__img {
    .cover__img();
  }

  &__date {
    color: #747785;
    font-size: 12/17em;
    padding-top: 5/12em;
    margin-bottom: .3em;

    &_colored {
      color: rgba(255,255,255,.6);
    }
  }

  &__content {
    flex-grow: 1;
    padding: 15/17em 20/17em 15/17em;
  }

  &__title {
    font-size: 25/17em;
  }

  &__link {
    color: #000;
    text-decoration: none;

    &_colored {
      color: #FFF;
    }
  }

  &__summary {
    flex-grow: 0;
    font-size: 1em;
    line-height: 20/17;
    color: #747785;
    padding-top: 10/17em;

    &_colored {
      color: rgba(255,255,255,.6);
    }
  }

  &__signature {
    margin: 0 20/17em;
    border-top: 1px solid #eee;

    &_colored {
      border-top-color: rgba(255,255,255,.2);
    }
  }

  &__tags {
    font-size: 12/17em;
    line-height: 1.5;
    padding: 1em 0;
  }
}
