.masonry-grid {
  position: relative;

  &__item {
    position: absolute;
    transition: top 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955), left 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &_tags-grid {
      font-size: 28px;
    }

    &_randomize {
      padding: 2em 4em;
      // RANDOMIZING SIZE
      &:nth-child(5n-2) {
        padding: 2em 5em 1em 1em;
      }
      &:nth-child(3n+2) {
        padding: 1em 1em 2em 4em;
      }
    }
  }
}