@import './../../assets/less/variables.less';

.search-form {
  position: relative;

  &__icon {
    position: relative;
    display: block;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    background-color: #FFF;
    width: 100%;
    padding-bottom: 100%;
    border: none;
    cursor: pointer;
    z-index: 5;
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    padding-right: 3em;
    white-space: nowrap;
    z-index: 4;
    transition: all 0.3s ease-out;
    overflow: hidden;

    &_open {
      left: 100%;
      width: 400/20em;
      box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.15);

      @media (max-width: @mobileDeviceWidth) {
        position: fixed;
        top: 60px;
        height: 60px;
        left: 20px;
        right: 20px;
        max-width: 90%;
      }
    }
  }
  &__input {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border: none;
    padding: 1em 2em;
    line-height: 1;
    background: #f1f5f8;
    width: 100%;
    font-size: 1em;
  }
  &__link {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    border: 0;
    background-color: #2f80ed;
    background-image: url('images/white-arrow.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center center;
    cursor: pointer;

    &_no_active {
      opacity: 0.5;
    }
  }
}