.promo-box-card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  &_direction_row {
    flex-direction: row;

    @media screen and (max-width: 980px) {
      flex-direction: column;
    }
  }
  &_direction_row-reverse {
    flex-direction: row-reverse;

    @media screen and (max-width: 980px) {
      flex-direction: column;
    }
  }
  &_size_s&_direction_row {
    @media screen and (max-width: 980px) {
      flex-direction: row;
    }
  }
  &_size_s&_direction_row-reverse {
    @media screen and (max-width: 980px) {
      flex-direction: row-reverse;
    }
  }

  &__cover {
    display: block;
    position: relative;
    text-decoration: none;
    background-position: 50%;
    background-size: cover;
    text-indent: -10000px;
    overflow: hidden;
  }

  &__decorator {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;

    &_black-spikes {
      background-image: url('images/black-spikes.png');
      background-position: 0 0;
      background-size: auto 100%;
    }
    &_blue-spikes {
      background-image: url('images/blue-spikes.png');
      background-position: 0 0;
      background-size: 35% auto;
      background-repeat: repeat-y;
    }
    &_blue-filter {
      background-color: #274db1;
      opacity: .28;
    }
    &_blue-dots {
      background-image: url('images/blue-dots.png');
      background-position: 0 0;
      background-size: auto 100%;
    }
    &_blue-hexagon {
      background-image: url('images/blue-hexagon.png');
      background-position: center;
      background-size: cover;
    }
  }

  //&__play-icon {
  //  bottom: 0;
  //  left: 0;
  //  margin: 5%;
  //  padding-bottom: 26%;
  //  width: 30%;
  //  height: 0;
  //  background-image: url('images/play-icon.svg');
  //  background-size: contain;
  //}

  &_direction_row-reverse &__cover,
  &_direction_row &__cover {
    flex-grow: 1;
    width: 50%;

    @media screen and (max-width: 980px) {
      width: 100%;
    }
    @media screen and (max-width: 980px) {
      height: 400px;
      flex-shrink: 0;
    }
  }
  &_size_s&_direction_row-reverse &__cover,
  &_size_s&_direction_row &__cover {
    @media screen and (max-width: 980px) {
      width: 50%;
      height: 100%;
    }
  }

  &__description {
    padding: 40px;
    box-sizing: border-box;
    color: #FFF;

    &_background_black {
      background-color: #000;
    }
    &_background_blue {
      background-color: #274db1;
    }

    @media screen and (max-width: 1024px) {
      padding: 30px;
    }
    @media screen and (max-width: 480px) {
      padding: 20px;
    }
  }

  &__description_background_white {
    background-color: #FFF;
    color: #000;
  }
  &__description_background_white &__button {
    border-color: #ffc000;

    &::after,
    &::before {
      border-color: #ffc000;
    }
  }
  &_direction_row-reverse &__description,
  &_direction_row &__description {
    width: 50%;
    height: 100%;

    @media screen and (max-width: 980px) {
      width: 100%;
    }
  }

  &__title {
    margin: 0;
    text-decoration: none;
    display: block;
  }
  &_size_s &__title {
    font-size: 25px;

    @media screen and (max-width: 980px) {
      font-size: 34px;
    }
    @media screen and (max-width: 590px) {
      font-size: 24px;
    }
    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
  }

  &_size_m &__title {
    font-size: 5.6rem;

    @media screen and (max-width: 1680px) {
      font-size: 4.8rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 4.6rem;
    }
    @media screen and (max-width: 480px) {
      font-size: 3.8rem;
    }
  }

  &__link {
    text-decoration: none;

    &_color_white {
      color: #FFF;
    }
    &_color_black {
      color: #000;
    }
  }

  &__summary {
    opacity: .6;
    font-size: 17px;
    font-weight: lighter;
    line-height: 24px;
    margin: 30px 0 0;

    @media screen and (max-width: 1680px) {
      margin: 20px 0 0;
    }
  }

  &_size_s &__summary {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__button {
    font-size: 11px;
    margin-top: 26px;

    @media screen and (max-width: 1680px) {
      margin-top: 20pc;
    }
    @media (max-width: 980px) {
      display: none;
    }
  }

  &__banner {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: bottom center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    text-indent: -10000px;
  }
}
