.tags-menu {
  position: relative;
  overflow: hidden;
  line-height: (55/15);
  max-height: 55/15em;

  &__wrapper {
    display: block;
    background-image: linear-gradient(#ecf0f2, #ffffff);
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    color: #000;
  }

  &__link {
    padding: 0 1em;
    flex-shrink: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    vertical-align: top;

    &:hover {
      color: #ff1c64;
    }

    &_first {
      &:hover {
        color: inherit;
      }
      font-size: 20/15em;
      line-height: (55/20);
    }
  }

  &__scroller {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5em;
    border: 0;
    z-index: 10;
    cursor: pointer;
    text-indent: -1000px;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: auto 40%;
    }


    &_right {
      background: linear-gradient(to left, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 47%,rgba(255,255,255,0) 100%);
      right: 0;

      &::before {
        background-position: center right 10%;
        background-image: url('./images/arrow_right.svg');
      }
    }
    &_left {
      background: linear-gradient(to right, rgba(255,255,255,1) 10%,rgba(255,255,255,1) 47%,rgba(255,255,255,0) 100%);
      left: 0;

      &::before {
        background-position: center left 10%;
        background-image: url('./images/arrow_left.svg');
      }
    }
    &_active {
      display: block;
    }
  }

}
