@import './../../assets/less/mixins';

.tag-view {
  &__content {
    padding: 20px 0 40px;
    background: transparent;
  }

  &__wrapper {
    .container();
  }
  &__head {
    padding: 30px 0 50px;
  }
  &__title {
    font-size: 56px;
    color: #ffc000;

    @media (max-width: 1680px) {
      font-size: 48px;
    }
    @media (max-width: 768px) {
      font-size: 46px;
    }
    @media (max-width: 480px) {
      font-size: 38px;
    }
  }
}