@import "~slick-carousel/slick/slick.css";

.slick-track {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}


// Установка одинаковой высоты
.slick-slide {
  height: auto;

  & > div {
    height: 100%;
  }

  .slick-slide__element-container {
    height: 100%;
  }
}

.slick-arrow {
  display: none;
  position: absolute;
  top: 50%;
  right: -2em;
  border: 0;
  cursor: pointer;
  line-height: 1;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin-top: -3em;
  height: 6em;
  width: 6em;
  background-color: #ffef26;
  background-image: url('./images/arrow.svg');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -1000px;
  z-index: 3;

  &.slick-next {
    transform: scale(-1, 1);
    right: auto;
    left: -2em;
  }
}
.slick-initialized {
  .slick-arrow {
    display: block;
  }
}
