@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic);.redirect-page {
  padding-top: 10vh;
  text-align: center;
}
.redirect-page__block {
  display: inline-block;
  font-size: 21px;
}
.redirect-page__text {
  margin-bottom: 2em;
}
.redirect-page__link {
  color: #747785;
  text-decoration: underline;
}
.social-links__list {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
@media (max-width: 590px) {
  .social-links__item {
    display: inline-block;
  }
}
.social-links__link {
  display: block;
  height: 50px;
  width: 60px;
  background-repeat: no-repeat;
  -webkit-background-size: 33% auto;
          background-size: 33% auto;
  background-position: center center;
  text-indent: -1000px;
}
.social-links__link_vk {
  background-image: url(/components/SocialLinks/images/vk.svg);
}
.social-links__link_youtube {
  background-image: url(/components/SocialLinks/images/youtube.svg);
}
.social-links__link_instagram {
  background-image: url(/components/SocialLinks/images/instagram.svg);
}
.social-links__link_facebook {
  background-image: url(/components/SocialLinks/images/facebook.svg);
}
.social-links__link_telegram {
  background-image: url(/components/SocialLinks/images/telegram.svg);
}
.social-links__link_twitter {
  background-image: url(/components/SocialLinks/images/twitter.svg);
}
.social-links__link_ok {
  background-image: url(/components/SocialLinks/images/ok.svg);
  -webkit-background-size: 25% auto;
          background-size: 25% auto;
}
@media (max-width: 590px) {
  .social-links__link {
    height: 60px;
    width: 40px;
    -webkit-background-size: auto 33%;
            background-size: auto 33%;
  }
  .social-links__link_vk {
    background-image: url(/components/SocialLinks/images/vk_gray.svg);
  }
  .social-links__link_youtube {
    background-image: url(/components/SocialLinks/images/youtube_gray.svg);
  }
  .social-links__link_instagram {
    background-image: url(/components/SocialLinks/images/instagram_gray.svg);
  }
  .social-links__link_facebook {
    background-image: url(/components/SocialLinks/images/facebook_gray.svg);
  }
  .social-links__link_telegram {
    background-image: url(/components/SocialLinks/images/telegram_gray.svg);
  }
  .social-links__link_twitter {
    background-image: url(/components/SocialLinks/images/twitter_gray.svg);
  }
  .social-links__link_ok {
    background-image: url(/components/SocialLinks/images/ok_gray.svg);
  }
}
.search-form {
  position: relative;
}
.search-form__icon {
  position: relative;
  display: block;
  background-image: url(/components/SearchForm/images/search.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 50% 50%;
          background-size: 50% 50%;
  background-position: center center;
  background-color: #FFF;
  width: 100%;
  padding-bottom: 100%;
  border: none;
  cursor: pointer;
  z-index: 5;
}
.search-form__body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  padding-right: 3em;
  white-space: nowrap;
  z-index: 4;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.search-form__body_open {
  left: 100%;
  width: 20em;
  -webkit-box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.15);
}
@media (max-width: 590px) {
  .search-form__body_open {
    position: fixed;
    top: 60px;
    height: 60px;
    left: 20px;
    right: 20px;
    max-width: 90%;
  }
}
.search-form__input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  border: none;
  padding: 1em 2em;
  line-height: 1;
  background: #f1f5f8;
  width: 100%;
  font-size: 1em;
}
.search-form__link {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3em;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  border: 0;
  background-color: #2f80ed;
  background-image: url(/components/SearchForm/images/white-arrow.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 50% 50%;
          background-size: 50% 50%;
  background-position: center center;
  cursor: pointer;
}
.search-form__link_no_active {
  opacity: 0.5;
}
.main-menu {
  background-color: #FFF;
}
.main-menu__home-link {
  display: block;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/components/MainMenu/images/logo.svg);
  background-color: #000;
  -webkit-background-size: 60% 60%;
          background-size: 60% 60%;
  text-indent: -1000px;
}
.main-menu__search {
  font-size: 20px;
}
@media (max-width: 590px) {
  .main-menu__search {
    height: 60px;
    width: 60px;
    float: left;
  }
}
.main-menu__social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
@media (max-width: 590px) {
  .main-menu::after {
    content: '';
    display: table;
    clear: both;
  }
  .main-menu__home-link {
    float: left;
    margin: 0 0 0 1rem;
    background-color: transparent;
    -webkit-background-size: 90% 90%;
            background-size: 90% 90%;
  }
  .main-menu__social-links {
    width: auto;
  }
}
@media (max-width: 400px) {
  .main-menu__social-links {
    width: 250px;
  }
}
@media (max-width: 380px) {
  .main-menu__social-links {
    width: 210px;
  }
}
@media (max-width: 360px) {
  .main-menu__social-links {
    width: 170px;
  }
}
.footer {
  background-image: url(/components/Footer/images/cube-boy.png);
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  padding-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .footer {
    background-position: right bottom;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 340px 0 0;
  }
}
@media (max-width: 860px) {
  .footer {
    background-position: center bottom;
    padding: 0 0 170px;
    -webkit-background-size: 220px 220px;
            background-size: 220px;
  }
}
.footer__menu {
  margin: 0;
  padding: 0;
}
.footer__menu-item {
  display: inline-block;
  margin-right: 6.5em;
}
@media (max-width: 860px) {
  .footer__menu-item {
    margin-right: 2.5em;
  }
}
@media (max-width: 360px) {
  .footer__menu-item {
    margin-right: 1.5em;
  }
}
.footer__menu-item_last {
  margin-right: 0;
}
.footer__menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-size: 1.8em;
  font-family: 'BebasNeueBold', sans-serif;
}
.footer__age {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  line-height: 1.5;
  font-size: 1.11111111em;
}
@media (max-width: 1100px) {
  .footer__age {
    right: 115px;
    text-align: right;
  }
}
@media (max-width: 860px) {
  .footer__age {
    right: 0;
    text-align: center;
  }
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.app {
  padding-left: 60px;
}
@media (max-width: 590px) {
  .app {
    padding-left: 0;
  }
}
.app_bg_pattern {
  background-image: url(/layouts/App/images/pattern_2.png);
  background-repeat: repeat;
}
.app__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100vh;
}
.app__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.app__footer {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 10px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 260px;
}
@media (max-width: 1920px) {
  .app__footer {
    max-width: 1200px;
  }
}
@media (max-width: 860px) {
  .app__footer {
    height: 270px;
  }
}
.app__footer_bg_pattern {
  color: #FFF;
}
.app__copyright {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 1em;
  text-align: center;
  background: #000;
  color: #ccc;
}
.app__main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  z-index: 99;
  background-color: #FFF;
  -webkit-box-shadow: -9px 0 20px 15px rgba(0, 0, 0, 0.3);
          box-shadow: -9px 0 20px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 590px) {
  .app__main-menu {
    position: relative;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.decorative-title {
  color: #ffef26;
  background: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'BebasNeueBold', sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: inherit;
  text-align: left;
  line-height: 1;
  outline: none;
}
.decorative-title::before {
  content: '';
  display: table;
  clear: both;
}
.decorative-title__title {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  color: #ffef26;
}
.decorative-title__description {
  float: left;
  padding-bottom: 0.3em;
  font-size: 0.46428571em;
  display: inline-block;
  position: relative;
  -webkit-transform: translate(20%);
      -ms-transform: translate(20%);
       -o-transform: translate(20%);
          transform: translate(20%);
  line-height: 1;
}
.decorative-title__description:after {
  content: '';
  display: block;
  width: 90%;
  height: 3px;
  -webkit-transform: translate(40%, 5px);
      -ms-transform: translate(40%, 5px);
       -o-transform: translate(40%, 5px);
          transform: translate(40%, 5px);
  background-color: #ffef26;
  position: absolute;
  border-radius: 3px;
}
.button {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  background: none;
  cursor: pointer;
  line-height: 1;
  padding: 1em;
  max-height: 100%;
  max-width: 100%;
  background: #FFF;
  color: #000;
  border: 0.2em solid #000;
}
.button_transparent {
  background: transparent;
}
.button_big {
  font-family: 'BebasNeueBook', sans-serif;
  width: 100%;
}
.button_text_white {
  color: #FFF;
}
.button_border_yellow {
  border: 0.2em solid #ffef26;
}
.button_arrows_yellow {
  min-width: 11.36363636em;
  padding: 1em 3em 1em 1em;
}
.button_arrows_yellow::before {
  content: '';
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 2em;
  height: 0.6em;
  width: 0.6em;
  border-color: #ffef26;
  border-width: 0.2em 0.2em 0 0;
  border-style: solid;
}
.button_arrows_yellow::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: -0.7em;
}
.button_arrows_yellow:focus {
  outline: 0;
}
.error-page {
  padding: 150px 20px;
}
@media (max-width: 860px) {
  .error-page {
    padding-top: 80px;
  }
}
.error-page__head {
  font-size: 150px;
  text-align: center;
}
@media (max-width: 860px) {
  .error-page__head {
    font-size: 100px;
    margin-bottom: 50px;
  }
}
.error-page__text {
  line-height: 1.4;
  font-size: 21px;
  color: #FFF;
  max-width: 600px;
  margin: 0 auto 3em;
  text-align: center;
}
@media (max-width: 860px) {
  .error-page__text {
    font-size: 18px;
  }
}
.error-page__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid #fff;
}
.error-page__button {
  text-align: center;
}
.loader {
  font-size: inherit;
  text-align: center;
  padding: 1em 2em;
}
.loader__icon {
  width: 5em;
}
.masonry-grid {
  position: relative;
}
.masonry-grid__item {
  position: absolute;
  -webkit-transition: top 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955), left 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: top 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955), left 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: top 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955), left 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.masonry-grid__item_tags-grid {
  font-size: 28px;
}
.masonry-grid__item_randomize {
  padding: 2em 4em;
}
.masonry-grid__item_randomize:nth-child(5n-2) {
  padding: 2em 5em 1em 1em;
}
.masonry-grid__item_randomize:nth-child(3n+2) {
  padding: 1em 1em 2em 4em;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.tags-grid__card_hash {
  font-size: 100px;
}
.tags-grid__link {
  display: inline-block;
  text-decoration: none;
  color: #ffc000;
  text-transform: uppercase;
  word-break: break-all;
  -webkit-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
     animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
     animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  -o-animation-name: zoomIn;
     animation-name: zoomIn;
}
.tags-grid__action {
  text-align: center;
  font-size: 18px;
  width: 370px;
  margin: 0 auto;
}
@media (max-width: 490px) {
  .tags-grid__action {
    width: 90%;
  }
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.tags__content {
  padding: 20px 0 40px;
  background: #FFF;
}
.tags__wrapper {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1920px) {
  .tags__wrapper {
    max-width: 1200px;
  }
}
.title {
  color: inherit;
  font-size: inherit;
  font-family: BebasNeueBold, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  margin: 0;
}
.title_slim {
  font-weight: lighter;
}
.promo-box-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .promo-box-card:not(:last-child) {
    padding-bottom: 10px;
  }
}
.promo-box-card_direction_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 980px) {
  .promo-box-card_direction_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.promo-box-card_direction_row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 980px) {
  .promo-box-card_direction_row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  .promo-box-card_size_s.promo-box-card_direction_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (max-width: 980px) {
  .promo-box-card_size_s.promo-box-card_direction_row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.promo-box-card__cover {
  display: block;
  position: relative;
  text-decoration: none;
  background-position: 50%;
  -webkit-background-size: cover;
          background-size: cover;
  text-indent: -10000px;
  overflow: hidden;
}
.promo-box-card__decorator {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
.promo-box-card__decorator_black-spikes {
  background-image: url(/components/PromoBoxCard/images/black-spikes.png);
  background-position: 0 0;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.promo-box-card__decorator_blue-spikes {
  background-image: url(/components/PromoBoxCard/images/blue-spikes.png);
  background-position: 0 0;
  -webkit-background-size: 35% auto;
          background-size: 35% auto;
  background-repeat: repeat-y;
}
.promo-box-card__decorator_blue-filter {
  background-color: #274db1;
  opacity: 0.28;
}
.promo-box-card__decorator_blue-dots {
  background-image: url(/components/PromoBoxCard/images/blue-dots.png);
  background-position: 0 0;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}
.promo-box-card__decorator_blue-hexagon {
  background-image: url(/components/PromoBoxCard/images/blue-hexagon.png);
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.promo-box-card_direction_row-reverse .promo-box-card__cover,
.promo-box-card_direction_row .promo-box-card__cover {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
}
@media screen and (max-width: 980px) {
  .promo-box-card_direction_row-reverse .promo-box-card__cover,
  .promo-box-card_direction_row .promo-box-card__cover {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .promo-box-card_direction_row-reverse .promo-box-card__cover,
  .promo-box-card_direction_row .promo-box-card__cover {
    height: 400px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
}
@media screen and (max-width: 980px) {
  .promo-box-card_size_s.promo-box-card_direction_row-reverse .promo-box-card__cover,
  .promo-box-card_size_s.promo-box-card_direction_row .promo-box-card__cover {
    width: 50%;
    height: 100%;
  }
}
.promo-box-card__description {
  padding: 40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
}
.promo-box-card__description_background_black {
  background-color: #000;
}
.promo-box-card__description_background_blue {
  background-color: #274db1;
}
@media screen and (max-width: 1024px) {
  .promo-box-card__description {
    padding: 30px;
  }
}
@media screen and (max-width: 480px) {
  .promo-box-card__description {
    padding: 20px;
  }
}
.promo-box-card__description_background_white {
  background-color: #FFF;
  color: #000;
}
.promo-box-card__description_background_white .promo-box-card__button {
  border-color: #ffc000;
}
.promo-box-card__description_background_white .promo-box-card__button::after,
.promo-box-card__description_background_white .promo-box-card__button::before {
  border-color: #ffc000;
}
.promo-box-card_direction_row-reverse .promo-box-card__description,
.promo-box-card_direction_row .promo-box-card__description {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 980px) {
  .promo-box-card_direction_row-reverse .promo-box-card__description,
  .promo-box-card_direction_row .promo-box-card__description {
    width: 100%;
  }
}
.promo-box-card__title {
  margin: 0;
  text-decoration: none;
  display: block;
}
.promo-box-card_size_s .promo-box-card__title {
  font-size: 25px;
}
@media screen and (max-width: 980px) {
  .promo-box-card_size_s .promo-box-card__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 590px) {
  .promo-box-card_size_s .promo-box-card__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .promo-box-card_size_s .promo-box-card__title {
    font-size: 20px;
  }
}
.promo-box-card_size_m .promo-box-card__title {
  font-size: 5.6rem;
}
@media screen and (max-width: 1680px) {
  .promo-box-card_size_m .promo-box-card__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 768px) {
  .promo-box-card_size_m .promo-box-card__title {
    font-size: 4.6rem;
  }
}
@media screen and (max-width: 480px) {
  .promo-box-card_size_m .promo-box-card__title {
    font-size: 3.8rem;
  }
}
.promo-box-card__link {
  text-decoration: none;
}
.promo-box-card__link_color_white {
  color: #FFF;
}
.promo-box-card__link_color_black {
  color: #000;
}
.promo-box-card__summary {
  opacity: 0.6;
  font-size: 17px;
  font-weight: lighter;
  line-height: 24px;
  margin: 30px 0 0;
}
@media screen and (max-width: 1680px) {
  .promo-box-card__summary {
    margin: 20px 0 0;
  }
}
.promo-box-card_size_s .promo-box-card__summary {
  font-size: 12px;
  margin-bottom: 10px;
}
.promo-box-card__button {
  font-size: 11px;
  margin-top: 26px;
}
@media screen and (max-width: 1680px) {
  .promo-box-card__button {
    margin-top: 20pc;
  }
}
@media (max-width: 980px) {
  .promo-box-card__button {
    display: none;
  }
}
.promo-box-card__banner {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: bottom center;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  background-repeat: no-repeat;
  text-align: center;
  text-decoration: none;
  text-indent: -10000px;
}
.promo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #FFF;
  overflow: hidden;
}
.promo-box__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: relative;
}
@media (max-width: 1024px) {
  .promo-box__item {
    min-height: 400px;
  }
}
@media (max-width: 980px) {
  .promo-box__item {
    min-height: 600px;
  }
}
@media (max-width: 590px) {
  .promo-box__item {
    min-height: 400px;
  }
}
@media (max-width: 590px) {
  .promo-box__item {
    min-height: 340px;
  }
}
.promo-box__item:nth-child(1) {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.promo-box__item:nth-child(2) {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 2100px) {
  .promo-box__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 1490px) {
  .promo-box__item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
.promo-box__item:nth-child(3) {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}
@media (max-width: 2100px) {
  .promo-box__item:nth-child(3) {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media (max-width: 1490px) {
  .promo-box__item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}
.promo-box__item:nth-child(4) {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}
@media (max-width: 2100px) {
  .promo-box__item:nth-child(4) {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 1490px) {
  .promo-box__item:nth-child(4) {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media (max-width: 980px) {
  .promo-box__item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}
.promo-box__item:nth-child(5) {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
@media (max-width: 2100px) {
  .promo-box__item:nth-child(5) {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 1490px) {
  .promo-box__item:nth-child(5) {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 980px) {
  .promo-box__item:nth-child(5) {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
}
.promo-box__item:nth-child(6) {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
}
@media (min-width: 2101px) {
  .promo-box__item:nth-child(6) {
    display: none;
  }
}
@media (max-width: 1490px) {
  .promo-box__item:nth-child(6) {
    display: none;
  }
}
.promo-box__item_size_one {
  width: 50%;
}
@media (max-width: 2100px) {
  .promo-box__item_size_one {
    width: 66.666%;
  }
}
@media (max-width: 1490px) {
  .promo-box__item_size_one {
    width: 100%;
  }
}
.promo-box__item_size_half {
  width: 25%;
}
@media (max-width: 2100px) {
  .promo-box__item_size_half {
    width: 33.333%;
  }
}
@media (max-width: 1490px) {
  .promo-box__item_size_half {
    width: 50%;
  }
}
@media (max-width: 980px) {
  .promo-box__item_size_half {
    width: 100%;
  }
}
.promo-box__item_has-two-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tags-menu {
  position: relative;
  overflow: hidden;
  line-height: 3.66666667;
  max-height: 3.66666667em;
}
.tags-menu__wrapper {
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf0f2), to(#ffffff));
  background-image: -webkit-linear-gradient(#ecf0f2, #ffffff);
  background-image: -o-linear-gradient(#ecf0f2, #ffffff);
  background-image: linear-gradient(#ecf0f2, #ffffff);
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  color: #000;
}
.tags-menu__link {
  padding: 0 1em;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
}
.tags-menu__link:hover {
  color: #ff1c64;
}
.tags-menu__link_first {
  font-size: 1.33333333em;
  line-height: 2.75;
}
.tags-menu__link_first:hover {
  color: inherit;
}
.tags-menu__scroller {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5em;
  border: 0;
  z-index: 10;
  cursor: pointer;
  text-indent: -1000px;
  overflow: hidden;
}
.tags-menu__scroller::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: auto 40%;
          background-size: auto 40%;
}
.tags-menu__scroller_right {
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, #ffffff), color-stop(47%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(right, #ffffff 10%, #ffffff 47%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(right, #ffffff 10%, #ffffff 47%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to left, #ffffff 10%, #ffffff 47%, rgba(255, 255, 255, 0) 100%);
  right: 0;
}
.tags-menu__scroller_right::before {
  background-position: center right 10%;
  background-image: url(/components/TagsMenu/images/arrow_right.svg);
}
.tags-menu__scroller_left {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffffff), color-stop(47%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, #ffffff 10%, #ffffff 47%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, #ffffff 10%, #ffffff 47%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #ffffff 10%, #ffffff 47%, rgba(255, 255, 255, 0) 100%);
  left: 0;
}
.tags-menu__scroller_left::before {
  background-position: center left 10%;
  background-image: url(/components/TagsMenu/images/arrow_left.svg);
}
.tags-menu__scroller_active {
  display: block;
}
.tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;
}
.tags-list_article {
  line-height: 3.08333333em;
}
.tags-list__item {
  display: inline-block;
  padding-right: 0.41666667em;
}
.tags-list__item_article {
  padding-right: 0;
  margin-right: 1.25em;
}
.tags-list__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffc000;
  font-weight: 700;
}
.tags-list__link_article {
  font-weight: 400;
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.card {
  font-size: inherit;
  background: #FFF;
}
.card_max_height {
  height: 100%;
}
.card_bg_gray {
  background-color: #f1f5f8;
}
.card_colored {
  background-color: #274db1;
}
.card__grid {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.card__cover {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  display: block;
  min-width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}
.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card__date {
  color: #747785;
  font-size: 0.70588235em;
  padding-top: 0.41666667em;
  margin-bottom: 0.3em;
}
.card__date_colored {
  color: rgba(255, 255, 255, 0.6);
}
.card__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.88235294em 1.17647059em 0.88235294em;
}
.card__title {
  font-size: 1.47058824em;
}
.card__link {
  color: #000;
  text-decoration: none;
}
.card__link_colored {
  color: #FFF;
}
.card__summary {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 1em;
  line-height: 1.17647059;
  color: #747785;
  padding-top: 0.58823529em;
}
.card__summary_colored {
  color: rgba(255, 255, 255, 0.6);
}
.card__signature {
  margin: 0 1.17647059em;
  border-top: 1px solid #eee;
}
.card__signature_colored {
  border-top-color: rgba(255, 255, 255, 0.2);
}
.card__tags {
  font-size: 0.70588235em;
  line-height: 1.5;
  padding: 1em 0;
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.news-cards__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}
.news-cards__item {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  padding-bottom: 50px;
  font-size: 17px;
}
@media (max-width: 1280px) {
  .news-cards__item {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
}
@media (max-width: 980px) {
  .news-cards__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}
@media (max-width: 590px) {
  .news-cards__item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1680px) {
  .news-cards__item_index-page {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
}
@media (max-width: 1380px) {
  .news-cards__item_index-page {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}
@media (max-width: 1100px) {
  .news-cards__item_index-page {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .news-cards__item_index-page {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}
@media (max-width: 590px) {
  .news-cards__item_index-page {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
.news-cards__actions {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}
.news-cards__action {
  text-align: center;
  font-size: 18px;
  width: 370px;
  margin: 0 auto;
}
@media (max-width: 490px) {
  .news-cards__action {
    width: 90%;
  }
}
.numbered-links {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
  background: #FFF;
  color: #747785;
  counter-reset: counter;
}
.numbered-links__item {
  padding: 2.14285714em 0 0 3.57142857em;
  position: relative;
  text-decoration: none;
  display: block;
}
.numbered-links__item::before {
  content: counter(counter, decimal-leading-zero);
  counter-increment: counter;
  position: absolute;
  left: 0;
  color: #c3c4cd;
  font-size: 2.85714286em;
  font-family: 'BebasNeueBold', sans-serif;
  font-weight: 800;
}
.numbered-links__link,
.numbered-links__time,
.numbered-links__title,
.numbered-links__summary {
  display: block;
}
.numbered-links__link {
  text-decoration: none;
  color: inherit;
}
.numbered-links__title {
  color: #000;
  font-weight: bolder;
  font-size: 1.28571429em;
  margin-bottom: 0.35714286em;
}
.numbered-links__time {
  font-size: 0.85714286em;
  margin-bottom: 1.2em;
}
.numbered-links__summary {
  font-size: 1em;
  line-height: 1.28571429;
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.index-page__content {
  padding: 40px 0;
}
.index-page__wrapper {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1920px) {
  .index-page__wrapper {
    max-width: 1200px;
  }
}
@media (min-width: 1500px) {
  .index-page__wrapper {
    max-width: 90%;
  }
}
.index-page__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
@media (max-width: 980px) {
  .index-page__columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.index-page__main {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}
.index-page__news {
  padding-bottom: 100px;
}
.index-page__tags-menu {
  font-size: 15px;
}
.index-page__aside {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 380px;
      -ms-flex-preferred-size: 380px;
          flex-basis: 380px;
  max-width: 380px;
  width: 380px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
@media (max-width: 980px) {
  .index-page__aside {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
.index-page__aside-head {
  font-size: 30px;
  color: #ffc000;
  padding-bottom: 15px;
  border-bottom: 1px solid #eceaea;
}
.index-page__popular {
  background: #FFF;
  padding: 20px;
  font-size: 14px;
}
.share-buttons {
  font-size: inherit;
}
.share-buttons__body {
  display: inline-block;
  position: relative;
}
.share-buttons__show-button {
  display: block;
  position: relative;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  line-height: 1;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffef26;
  background-image: url(/components/ShareButtons/images/share.svg);
  background-position: center;
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
}
.share-buttons__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.share-buttons__item {
  height: 6em;
  width: 6em;
  display: inline-block;
  vertical-align: top;
  padding: 0 3px;
}
.share-buttons__link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/components/ShareButtons/images/icons.svg);
  -webkit-background-size: 1300% 100%;
          background-size: 1300% 100%;
  background-position-y: 0;
  text-indent: -1000px;
}
.share-buttons__link_twitter {
  background-position-x: 8.33333333%;
}
.share-buttons__link_facebook {
  background-position-x: 16.66666667%;
}
.share-buttons__link_odnoklassniki {
  background-position-x: 33.33333333%;
}
.share-buttons__link_telegram {
  background-position-x: 66.66666667%;
}
.share-buttons__link_whatsapp {
  background-position-x: 83.33333333%;
}
.share-buttons__link_fbmessenger {
  background-position-x: 91.66666667%;
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.user-content {
  color: #111;
  font-weight: normal;
}
.user-content .code,
.user-content h1,
.user-content h2,
.user-content h3,
.user-content h4,
.user-content ul,
.user-content ol,
.user-content p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.user-content ul,
.user-content ol,
.user-content p {
  font-size: inherit;
  margin: 1em auto 2em;
  line-height: 1.5;
}
.user-content a {
  cursor: pointer;
  color: #2f80ed;
  text-decoration: none;
}
.user-content a:hover {
  text-decoration: underline;
}
.user-content h2 {
  font-size: 2.1em;
}
.user-content h3 {
  font-size: 1.95em;
}
.user-content h4 {
  font-size: 1.8em;
}
.user-content ul,
.user-content ol {
  list-style: none;
  padding: 0;
}
.user-content ul > li,
.user-content ol > li {
  display: block;
  position: relative;
  padding-left: 4em;
  margin-bottom: 2rem;
}
.user-content ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  width: 0.9em;
  height: 0.9em;
  background-image: url(/components/UserContent/images/cube_bullit.svg);
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
}
.user-content ol {
  counter-reset: section;
}
.user-content ol li::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero);
  display: block;
  position: absolute;
  top: 0;
  left: 0.1em;
  width: 0.9em;
  height: 0.9em;
  font-family: 'BebasNeueBold', sans-serif;
  font-style: italic;
  font-size: 3em;
  line-height: 1;
}
.user-content blockquote {
  display: block;
  position: relative;
  font-size: 1.75em;
  font-family: 'BebasNeueBook', sans-serif;
  line-height: 1.17857143;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  padding: 1em 3em 0 0;
  max-width: -webkit-calc(700px + (100% - 700px) / 2);
  max-width: calc(700px + (100% - 700px) / 2);
}
.user-content blockquote::after {
  content: '';
  height: 3em;
  width: 3em;
  background-image: url(/components/UserContent/images/quote.svg);
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 750px) {
  .user-content blockquote::after {
    height: 2em;
    width: 2em;
  }
}
.user-content blockquote p {
  max-width: none;
  font-size: inherit;
  font-family: inherit;
  margin: 1rem auto 2rem;
  line-height: inherit;
}
@media (max-width: 750px) {
  .user-content blockquote {
    padding-right: 2em;
  }
}
@media (max-width: 490px) {
  .user-content blockquote {
    padding: 2em 0 0 0;
  }
}
.user-content__code {
  margin-top: 1.875em;
  margin-bottom: 1.875em;
}
.user-content__code > * {
  display: block;
  margin: auto;
  max-width: 100%;
}
.user-content__code > script {
  display: none;
}
.user-content__img-container {
  margin: 0 0 1em;
  padding: 0;
  overflow: hidden;
  display: block;
}
.user-content__img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.user-content__caption {
  font-size: 0.75em;
  display: block;
  color: #b7bbcd;
}
.img-caption {
  color: #b7bbcd;
  background: #FFF;
}
.img-caption__list {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-caption__item {
  display: inline-block;
  padding-right: 0.7em;
}
.img-caption__item:not(:first-child)::before {
  content: '/';
  display: inline-block;
  padding-right: 0.7em;
}
.video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.video__frame {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.article__tags {
  font-size: 0.75em;
}
.article__head {
  padding-bottom: 30px;
}
.article__title {
  font-size: 3.5em;
}
.article__date {
  display: block;
  color: #747785;
  font-size: 0.9375em;
  margin: 0.625em 0 0;
}
.article__video {
  margin-bottom: 18px;
}
.article__image {
  display: block;
  width: 100%;
  max-width: 100%;
}
.article__caption {
  font-size: 0.75em;
  padding: 0.5em 0 1em;
}
.article__share-buttons {
  font-size: 0.375em;
}
.article__summary {
  font-size: 1.5625em;
  font-style: italic;
  margin: 1em 0 1.4em 4.8em;
}
@media (max-width: 590px) {
  .article__summary {
    margin-left: 0;
  }
}
.article__content {
  font-size: 1em;
  margin: 2.1875em 0 3.75em 7.5em;
}
@media (max-width: 590px) {
  .article__content {
    margin-left: 0;
  }
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slick-slide {
  height: auto;
}
.slick-slide > div {
  height: 100%;
}
.slick-slide .slick-slide__element-container {
  height: 100%;
}
.slick-arrow {
  display: none;
  position: absolute;
  top: 50%;
  right: -2em;
  border: 0;
  cursor: pointer;
  line-height: 1;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin-top: -3em;
  height: 6em;
  width: 6em;
  background-color: #ffef26;
  background-image: url(/components/Carousel/images/arrow.svg);
  background-position: center;
  -webkit-background-size: 50% 50%;
          background-size: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -1000px;
  z-index: 3;
}
.slick-arrow.slick-next {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
       -o-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: auto;
  left: -2em;
}
.slick-initialized .slick-arrow {
  display: block;
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.news-view__content {
  padding: 50px 0 40px;
  background: #FFF;
}
.news-view__wrapper {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1920px) {
  .news-view__wrapper {
    max-width: 1200px;
  }
}
.news-view__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
@media (max-width: 980px) {
  .news-view__columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.news-view__article {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  font-size: 16px;
}
.news-view__aside {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 380px;
      -ms-flex-preferred-size: 380px;
          flex-basis: 380px;
  max-width: 380px;
  width: 380px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 37px;
}
@media (max-width: 980px) {
  .news-view__aside {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    max-width: none;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
  }
}
.news-view__listing-item {
  font-size: 17px;
  margin-bottom: 30px;
}
@media (max-width: 980px) {
  .news-view__listing-item {
    padding-left: 25px;
    padding-right: 25px;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}
@media (max-width: 590px) {
  .news-view__listing-item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
.news-view__bottom {
  padding: 50px 0 40px;
}
.news-view__carousel-item {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 17px;
  height: 100%;
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.tag-view__content {
  padding: 20px 0 40px;
  background: transparent;
}
.tag-view__wrapper {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1920px) {
  .tag-view__wrapper {
    max-width: 1200px;
  }
}
.tag-view__head {
  padding: 30px 0 50px;
}
.tag-view__title {
  font-size: 56px;
  color: #ffc000;
}
@media (max-width: 1680px) {
  .tag-view__title {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .tag-view__title {
    font-size: 46px;
  }
}
@media (max-width: 480px) {
  .tag-view__title {
    font-size: 38px;
  }
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.search-results__head {
  padding-top: 50px;
  padding-bottom: 50px;
}
.search-results__title {
  font-size: 56px;
  margin-bottom: 20px;
}
.search-results__summary {
  font-size: 32px;
}
.search-results__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}
.search-results__item {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
  width: 25%;
  padding-bottom: 50px;
  font-size: 17px;
}
@media (max-width: 1280px) {
  .search-results__item {
    -webkit-flex-basis: 33.333%;
        -ms-flex-preferred-size: 33.333%;
            flex-basis: 33.333%;
    max-width: 33.333%;
    width: 33.333%;
  }
}
@media (max-width: 980px) {
  .search-results__item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}
@media (max-width: 590px) {
  .search-results__item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}
.search-results__actions {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}
.search-results__action {
  text-align: center;
  font-size: 18px;
  width: 370px;
  margin: 0 auto;
}
@media (max-width: 490px) {
  .search-results__action {
    width: 90%;
  }
}
/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/
.search-page__wrapper {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}
@media (max-width: 1920px) {
  .search-page__wrapper {
    max-width: 1200px;
  }
}
@media (min-width: 1500px) {
  .search-page__wrapper {
    max-width: 90%;
  }
}
@font-face {
  font-family: 'BebasNeueBook';
  src: url(/assets/fonts/BebasNeueBook.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/BebasNeueBook.woff) format('woff'), url(/assets/fonts/BebasNeueBook.ttf) format('truetype'), url(/assets/fonts/BebasNeueBook.svg#BebasNeueBook) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueBold';
  src: url(/assets/fonts/BebasNeueBold.eot?#iefix) format('embedded-opentype'), url(/assets/fonts/BebasNeueBold.woff) format('woff'), url(/assets/fonts/BebasNeueBold.ttf) format('truetype'), url(/assets/fonts/BebasNeueBold.svg#BebasNeueBold) format('svg');
  font-weight: normal;
  font-style: normal;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: #f1f5f8;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
