/*
Миксин для сетки. Использование:

<div class="container">
  <div class="row">
    <div class="col1">
    </div>
    <div class="col2">
    </div>
  </div>
</div>

.container {
  .container(); // или .container-fluid()
}
.row {
  .row();
  // ... Ниже можно переопрелить некоторые свойства
}
.col1 {
  .col();
  .col-width(25%);
  // ... Ниже можно переопрелить некоторые свойства
}
.col2 {
  .col();
  .col-width(50px);
  // ... Ниже можно переопрелить некоторые свойства
}
*/

@gutter: 25px;

.container() {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: @gutter;
  padding-right: @gutter;

  @media (max-width: 1920px) {
    max-width: 1200px;
  }
}

.container-fluid() {
  .container();

  @media (min-width: 1500px) {
    max-width: 90%;
  }
}

.row() {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -@gutter;
  margin-right: -@gutter;
}

.col() {
  padding-left: @gutter;
  padding-right: @gutter;
}

.col-width(@width: 100%) {
  flex-basis: @width;
  max-width: @width;
  width: @width;
}

.col-width-auto() {
  flex-basis: auto;
  max-width: none;
  width: auto;
}

