@import './../../assets/less/mixins';
@import './../../assets/less/variables';

.index-page {
  &__content {
    padding: 40px 0;
  }

  &__wrapper {
    .container-fluid();
  }

  &__columns {
    .row();
    flex-wrap: nowrap;

    @media (max-width: @narrowScreenWidth) {
      flex-wrap: wrap;
    }
  }

  &__main {
    .col();
    .col-width(100%);
  }

  &__news {
    padding-bottom: 100px;
  }

  &__tags-menu {
    font-size: 15px;
  }

  &__aside {
    .col();
    .col-width(380px);
    flex-shrink: 0;

    @media (max-width: @narrowScreenWidth) {
      .col-width(100%);
    }
  }

  &__aside-head {
    font-size: 30px;
    color: #ffc000;
    padding-bottom: 15px;
    border-bottom: 1px solid #eceaea;
  }

  &__popular {
    background: #FFF;
    padding: 20px;
    font-size: 14px;
  }
}
