.footer {
  background-image: url(./images/cube-boy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1100px) {
    background-position: right bottom;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 340px 0 0;
  }

  @media (max-width: 860px) {
    background-position: center bottom;
    padding: 0 0 170px;
    background-size: 220px;
  }

  &__menu {
    margin: 0;
    padding: 0;
  }

  &__menu-item {
    display: inline-block;
    margin-right: 6.5em;

    @media (max-width: 860px) {
      margin-right: 2.5em;
    }
    @media (max-width: 360px) {
      margin-right: 1.5em;
    }

    &_last {
      margin-right: 0;
    }
  }

  &__menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.8em;
    font-family: 'BebasNeueBold', sans-serif;
  }

  &__age {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    line-height: 3/2;
    font-size: 20/18em;

    @media (max-width: 1100px) {
      right: 115px;
      text-align: right;
    }
    @media (max-width: 860px) {
      right: 0;
      text-align: center;
    }
  }
}
