@import (css) url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');

@font-face {
  font-family: 'BebasNeueBook';
  src: url('assets/fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/BebasNeueBook.woff') format('woff'),
  url('assets/fonts/BebasNeueBook.ttf')  format('truetype'),
  url('assets/fonts/BebasNeueBook.svg#BebasNeueBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('assets/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/BebasNeueBold.woff') format('woff'),
  url('assets/fonts/BebasNeueBold.ttf')  format('truetype'),
  url('assets/fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import (less) "~normalize.css/normalize.css";

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: #f1f5f8;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
